* {
    color: #505050;
}

h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: capitalize;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;

}


.card{
    position: relative;
    width: 250px;
    height: 250px;
    color: #51565c;
    border-radius: 25px;
    overflow: hidden;

    float: left;
    margin: 0 10px 20px 15%;
    padding: 20px;
    box-sizing: border-box;
}

.card_content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #71c55d;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before{
    content: '';
    position: absolute;
    top: -47px;
    right: -50px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px
    #71c55d;
}

.card_title{
    color: #000000;
    line-height: 25px;
}

.card_subtitle{
    display: block;
    font-size: 12px;
    margin-bottom: 40px;
}

.card_description{
    font-size: 0;
    opacity: 0;
    transition: opacity .5s, font-size 1s;
}

.card:hover .card_content{
    transform: translateY(0);
}

.card:hover .card_description{
    opacity: 1;
    font-size: 14px;
    margin: 0;
    transition: font-size 1s;
    transition-delay: .25s;
}

main > h1, main > p{
    text-align: center;
}

.learning-container{
    display: grid;
    grid-template-areas:
  "a1"
  "a2"
  "a3"
  "a4"
  "a5";
}

#header{
    grid-area: a1;
}
#Main{
    grid-area: a2;
    margin: 75px 15px 10px 10px;
    font-family: "Roboto", sans-serif;
}
#Section-text{
    grid-area: a3;
}
#Aside{
    grid-area: a4;
    text-align: center;
    margin: 25px auto 25px auto;
}
#Footer{
    grid-area: a5;
}

#h2-text{
    text-align: center;
}

#Address .copyrights p, #Address .copyrights .credits {
    margin: 0 0 0 10px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
    color: black;

}

#timer-button{
    margin: 0 auto;
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

@media (min-width: 900px) {

}