.card{
    position: relative;
    width: 250px;
    height: 250px;
    color: #a18a96;
    background: url(DevelopMental/img/test.jpg) center;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;

    float: left;
    margin: 0 10px 10px 15%;
    padding: 20px;
    box-sizing: border-box;
}

.card_content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 255px;
    padding: 10px;
    background-color: #ffff00;
    border-top-left-radius: 35px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before{
    content: '';
    position: absolute;
    top: -49px;
    right: -39px;
    width: 100px;
    height: 100px;
    transform: rotate(-177.5deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px
    #ffff00;
}

.card_title{
    color: #0000ff;
    margin: 5px 0 0 10px;
}

.card_subtitle{
    display: block;
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.card_description{
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    margin: 10px 0 10px 10px;
}

.card_button{
    opacity: 0;
    transition: opacity .5s;
    margin: 0 0 0 150px;
    border-radius: 20px;
}

.card:hover .card_content{
    transform: translateY(0);
}

.card:hover .card_description{
    opacity: 1;
    transition-delay: .25s;
}

.card:hover .card_button{
    opacity: 1;
    transition-delay: .25s;
}

#Main{
    margin: 50px 0 10px 10px;
}

main > h1, main > p{
    text-align: center;
}

footer{
    position: fixed;
    padding: .6em;
    bottom: 0;
    right: 0;
    left: 0;
}