.card{
    position: relative;
    width: 250px;
    height: 250px;
    color: #a18a96;
    background: url(DevelopMental/img/test.jpg) center;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;

    float: left;
    margin: 0 10px 10px 15%;
    padding: 20px;
    box-sizing: border-box;
}

.card_content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 255px;
    padding: 10px;
    background-color: #ffff00;
    border-top-left-radius: 35px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before{
    content: '';
    position: absolute;
    top: -49px;
    right: -39px;
    width: 100px;
    height: 100px;
    transform: rotate(-177.5deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px
    #ffff00;
}

.card_title{
    color: #0000ff;
    margin: 5px 0 0 10px;
}

.card_subtitle{
    display: block;
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.card_description{
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    margin: 10px 0 10px 10px;
}

.card_button{
    opacity: 0;
    transition: opacity .5s;
    margin: 0 0 0 150px;
    border-radius: 20px;
}

.card:hover .card_content{
    transform: translateY(0);
}

.card:hover .card_description{
    opacity: 1;
    transition-delay: .25s;
}

.card:hover .card_button{
    opacity: 1;
    transition-delay: .25s;
}

main > h1, main > p{
    text-align: center;
}

.learning-container{
    display: grid;
    grid-template-areas:
  "a1"
  "a2"
  "a3"
  "a4"
  "a5";
}

#header{
    grid-area: a1;
}
#Main{
    grid-area: a2;
    margin: 40px 10px 10px 10px;
}
#Section-text{
    grid-area: a3;
}
#Aside{
    grid-area: a4;
    text-align: center;
    margin: 25px auto 25px auto;
}
#Footer{
    grid-area: a5;
    text-align: center;
}

#h2-text{
    text-align: center;
}

@media (min-width: 900px) {

}