/*--------------------------------------------------------------
# Progressive Muscle Relaxation Playlist
--------------------------------------------------------------*/
/*  Edited with:
    https://stackoverflow.com/questions/22433616/how-can-i-align-youtube-embedded-video-in-the-center-in-bootstrap */
.body .main {

    text-align: center;
}

.PMR-container {
    display: block;
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
    margin: 150px auto auto;
}
/*--------------------------------------------------------------
# Autogenic Training Relaxation Playlist
--------------------------------------------------------------*/

.AT-container {
    display: block;
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
    margin: auto;
}