/*--------------------------------------------------------------
# Youtube Video
--------------------------------------------------------------*/

.video-container {
    display: block;
    width: 350px; /* you have to have a size or this method doesn't work */
    height: 196px; /* think about making these max-width instead - might give you some more responsiveness */
    margin: 25px auto auto;
    border: 10px solid #71c55d;
}

.yt-video{
    width: 330px;
    height: 176px;
}

/*--------------------------------------------------------------
# Youtube Music Container
--------------------------------------------------------------*/

.youtube-container {
    display: block;
    width: 350px; /* you have to have a size or this method doesn't work */
    height: 196px; /* think about making these max-width instead - might give you some more responsiveness */
    margin: 150px auto auto;
    border: 10px solid #71c55d;
}


/*--------------------------------------------------------------
# Youtube Video
--------------------------------------------------------------*/
@media (min-width: 900px) {

    .video-container {
        display: block;
        width: 800px; /* you have to have a size or this method doesn't work */
        height: 450px; /* think about making these max-width instead - might give you some more responsiveness */
        margin: 25px auto auto;
        border: 10px solid #71c55d;
    }

    .yt-video{
        width: 780px;
        height: 430px;
    }

/*--------------------------------------------------------------
 # Youtube Music Container
--------------------------------------------------------------*/

    .youtube-container {
        display: block;
        width: 800px; /* you have to have a size or this method doesn't work */
        height: 450px; /* think about making these max-width instead - might give you some more responsiveness */
        margin: 150px auto auto;
        border: 10px solid #71c55d;
    }
}


h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: capitalize;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0 5px 0 5px;
    text-align: center;
}

p #break {

    margin-top: 300px;
}

h2 {
    padding-top: 25px;
}

#nav-relax{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 900px) {

    p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.5px;
        margin: 0 300px 0 300px;
        text-align: center;
    }


#nav-relax {

    font-family: "Roboto", sans-serif;
    color: #4e555b;
    display: inline-flex;
    list-style-type: none;
    font-size: 20px;
    padding-top: 50px;
    transition: 0.4s;
    text-align: center;
    align-self: center;
    justify-content: center;
    background-color: #FFFFFF;
}
}

#nav-relax li {

    padding-right: 50px;
    text-align: center;

}

#nav-relax ul li {

    text-align: center;
}
a{
    color: #4e555b;
}
a:hover{
    color:#71c55d;
}

h1{
    margin-top: 100px;
    text-align: center;
}